.App {
  width: 100%;
  background: linear-gradient(
    to right,
    lime,
    rgb(255, 204, 75),
    rgb(241, 171, 171)
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  width: 400px;
  padding: 10px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px black;
  background-color: rgba(255, 255, 255, 0.6);
}

.input {
  /* background-color: rgb(177, 255, 255); */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.input input {
  font-size: 20px;
  border-radius: 5px;
  padding: 2px;
  outline: none;
}

.input button {
  background-color: rgb(247, 194, 95);
  font-size: 18px;
  border-radius: 5px;
  padding: 2px 5px;
}

.items {
  /* background-color: beige; */
  height: 80%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  overflow-y: scroll;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: azure;
  padding: 0px 10px;
  margin: 5px 0px;
  border-radius: 10px;
}

.item button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item button:first-child {
  color: rgb(88, 130, 244);
}
.item button:first-child:hover {
  transform: scale(1.1);
  color: royalblue;
}
.item button:last-child {
  color: rgb(248, 105, 105);
}

.item button:last-child:hover {
  transform: scale(1.1);
  color: rgb(248, 70, 70);
}

.item input {
  transform: scale(1.5);
}

.item p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}

.item {
  position: relative;
  background-color: white;
}
.item p hr {
  background-color: blue;
  height: 2.5px;
  border-radius: 10px;
  border: none;
  position: absolute;
  left: 40px;
  bottom: 18px;
  transition: width 1s ease-in-out;
}

.item-text {
  min-width: 100px;
  border: 2px solid black;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: royalblue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 132, 231);
}

@media screen and (max-width: 400px) {
  .container {
    width: 360px;
  }
  .input button {
    font-size: 15px;
    padding: 0px;
  }
}
